extends layout.pug

block main
  article.question
    form(method="POST" action="/play")
      input(type="hidden" name="question" value=questionId)
      h3.question= question.question
      div.timer(data-time=question.time)= question.time
      case question.type
        when 'choice'
          fieldset
            legend Choisir une réponse:
            each choice in question.choices
              - let idChoice = `choice-${question.choices.indexOf(choice)}`
              label(for=idChoice)= choice
              input.radio-response(id=idChoice data-value=choice type="radio" name="response")
        when 'free'
          label(for="response-text") Réponse :
          input.text-response(id="response-text" type="text" name="response")
      input(type="submit" value="Suivant")

block custom_js
  script(src="/static/js/play.js")
