extends layout.pug

block main
  form(enctype="multipart/form-data" method="post")
    label(for="file") Questionnaire JSON :
    input#file(type="file" name="questionnaire" required)
    input(type="submit" value="Upload")
  section#qcm
    each question in qcm
      article.question
        h3.question= question.question
        div.timer #{question.time} secondes
        case question.type
          when 'choice'
            ul Réponses :
              each choice in question.choices
                if question.responses.includes(choice)
                  li
                    b= choice
                else
                  li= choice
          when 'free'
            p Réponse(s) possible(s) : #{question.responses.join(', ')}

block custom_js
  script(src="/static/js/upload.js")
